.container{
    width: 100%;  
    padding-left: 16px;
    padding-right: 16px;
    /* background-color: rgb(176, 205, 205);  */
} 

@media screen and (min-width: 480px) {
    .container{
        width: 458px;
        margin-left: auto;
        margin-right: auto;        
    }    
}

@media screen and (min-width: 767px) {
    .modal-menu-button{
        display: none;
        /* background-color: transparent;
        border: none;
        line-height: 0; */
    }

    .modal-menu-button{
        background-color: transparent;
        border: none;
        line-height: 0;
    }

    .header-section{
        padding-top: 16px;
        padding-bottom: 16px;        
    }
}

button{
    padding: 0;
    border-width: 0;
    /* writing-mode: 0; */
}

.modal-burger-color{
    /* fill: currentColor; */
    background-color: #fff;
    width: 40px;
    height: 32px;
}

@media screen and (max-width: 767px) {
    .header-list{
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .header-list-address{
        display: none;
    }
}

 .header-justify{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

/*hero image*/

.hero-section{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/mobile-hero-img-1x.jpg);
    height: 432px;
}

@media screen and (min-device-pixel-ratio: 2) and  (max-width: 767px), 
screen and (min-resolution: 192dpi) and  (max-width: 767px),
screen and (min-resolution: 2dppx) and  (max-width: 767px)
{
    .hero-section{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/mobile-hero-img-2x.jpg);
        height: 432px;
    }
}

@media screen and (max-width: 767px) {
    .hero-image{
        font-size: 36px;
        line-height: 1.11;
        text-transform: capitalize;
        max-width: 320px;
        padding: 112px 0 72px 0; 
    }
}


/* hero-advantages */
 
@media screen and (max-width: 767px) {
    .hero-advantages-icon{
        display: none;
    } 
        
    .hero-advantages-section {
        padding-top: 96px;
        padding-bottom: 24px;
    }

    .hero-advantages-direction {
        text-align: center;

    }

    .li-inline-block{
        max-width: 396px;
        height: 96px;
        display: inline-block; 
        margin-bottom: 72px;
    } 
    
}


/* wedoing-direction - Що ми робимо-напрямок */

@media screen and (max-width: 767px) {

    .wedoing-direction-section{
        display: none;
    }
}

/* ourteam-section наша команда*/

@media screen and (max-width: 767px) {
    .ourteam-section{
        padding-top: 96px;
        padding-bottom: 128px;
    } 

     .ourteam-block {
          display: block;
          margin-bottom: 128px;
     } 
     
     .ourteam-item-grunt {
        margin-bottom: 72px;
        margin-left: auto;
        margin-right: auto;
     }

     .ourteam-social-list {
        margin-left: 14px;
        margin-right: 14px;
     }

     .ourteam-social-list{
        display: flex;
        justify-content: space-evenly;
        margin-top: 8px;
    }
}

/*---- наші замовники ----*/

@media screen and (max-width: 767px) {
    .customers-section{
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .customers-list{
        gap: 72px 16px;
    }

    .customers-link{
        width: 190px;
        height: 88px;
    }

    .customers-icon{
        width: 110px;
        height: 56px;
    }

}

     /*----- footer -----*/

@media screen and (max-width: 767px) {

    .footer-grunt{    
        background: var(--accent-color-logo-grunt);
        padding-top: 96px;
        padding-bottom: 4px;
    }

    .footer-block-block{
        display: block;
    }

    .footer-block{
        width: 268px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 72px;
    } 

    .footer-block-social{
        width: 268px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 72px;
    }

    .footer-block-social-title{
        text-align: center;    
    }

    .footer-logo{
        margin-bottom: 16px;
        text-align: center;
    }

         /* subscribe */

    .footer-subscribe{
        /* width: 396px; */
        height: 136px;
        margin-bottom: 96px;
    }

    .footer-subscribe-contact-form{
        /* width: 453px; */
        height: 80px;
        margin-right: 0;
    }

 /* .footer-block-inline {
        display: inline-block;
    }    */

    .footer-subscribe-label{
        display: block;
        margin-bottom: 16px;
        text-align: center;
        position: relative;
    }

    .footer-subscribe-label-text{
        text-align: center;         
    }
     
    /* .footer-subscribe-form-control{
        position: relative;
    } */

    .footer-subscribe-form-input{
        position: absolute;
        right: 20%;
    }

    .footer-subscribe-grop{
        position: relative;
     }
    
    .footer-subscribe-btn {
        position: absolute;
        top: 60px;
        right: 120px;
    }    
}

/*------ portfolio -----*/

@media screen and (max-width: 767px) {
    .prtf-filtr{
        justify-content: space-between;
        display: flex;
        row-gap: 16px;
        flex-wrap: wrap;
        width: 263px;
        height: 96px;
        margin-bottom: 48px;  
    }

    .prtf-button-grunt{
        padding: 8px 16px;
    }

    .backdown-to-prtf{
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

/* фото наших робіт CARDS */

@media screen and (max-width: 767px) {
}

/* modal wind */

@media screen and (max-width: 767px) {
    .modal-modal{
        width: 392px;
        height: 586px;
    }
}
