/*кольори сайту*/
:root{
    --main-title-color: #ffffff;
    --accent-color-logo-grunt: #2E2F42;
    --accent-color-logo: #F4F4FD;
    --footer-text-color: #E7E9FC;
    --ourteam-grunt-foto: #F4F4FD;
    --advantages-ourteam-text: #434455;
    --heder-color-info: #434455;
    --color-button-link: #404BBF;
    --color-logo-button: #4D5AE5;
    --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --color-tmp-brdr: #transparent ;
    --color-customers-ikons: #8e8f99;
    --color-footer-social-ikons: #f4f4fd;
    --color-footer-social-ikons-grunt-a:  rgba(255, 255, 255, 0.1);
    --color-footer-social-ikons-grunt: #31D0AA;
    --semofor-button-grunt: 300ms cubic-bezier(1, 0.04, 1, 1);
    --semofor-button-grun-customers:  300ms cubic-bezier(1, 0.04, 1, 1);
}



.header-line{
    border-bottom: 1px solid var(--footer-text-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}



    
.visually-hidden {  
    position: absolute;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    width: 1px;    
 }

body {
    font-family: 'Roboto' , sans-serif;
    background: var(--main-title-color);
    color: var(--advantages-ourteam-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    box-sizing: initial;
}

/*прибираємо крапочки*/
.list{
    list-style: none;
}

/* відступи і центрування для Li текста*/

.li-inline-block{
    width: 264px;
    display: inline-block; 
} 

.li-block-dist{
    margin-left: 24px;
} 

.li-block-dist:first-child{
    margin-left: 0;
}

/*прибираємо підкреслення і нахил */
.link{
    text-decoration: none;
    font-style: normal;
}

/* тимчасово задаємо кордон елементу */
.tmp-brdr{
    /* outline: 2px solid tomato; */
    outline: 2px solid var(--color-tmp-brdr);
} 

.block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-inline{
    display: inline-block;
}

.container{
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header-section{
    padding-top: 24px;
    padding-bottom: 24px;
    
}

.header-justify{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.header-logo{
    font-family: 'Raleway' , sans-serif;    
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--accent-color-logo-grunt);
    text-decoration: none;
    margin-right: 26px;
}

.header-logo-color{
    color: var(--color-logo-button); 
}

.header-list{
    margin-block-start: 0;
    margin-block-end: 0;
}

.header-link{      
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--accent-color-logo-grunt);
    position: relative; 
}

.header-link:hover,
.header-link:focus{
    color: var(--color-button-link);
}

.header-link.aktive{
    color: var(--color-button-link);
}

.header-link.aktive::after{    
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--color-button-link);
    position: absolute;
    bottom: -27px;
    left: 0;
}

.header-retreat-raz{
    margin-left: 242px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.header-item{
    margin-left: 40px;
    /* position: relative; */
}

.header-info{
    font-size: 16px;
    line-height: 1.5;
    color: var(--heder-color-info);    
}

.header-info:hover,
.header-info:focus{
    color: var(--color-button-link);   
}

/*hero image*/

.hero-section{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--accent-color-logo-grunt);
    padding-bottom: 192px;
    padding-top: 192px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1440px;
}

.hero-image{    
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    color: var(--main-title-color);
    text-align: center;
    width: 520px;
    margin: 0 auto;
    padding-bottom: 43px;
}

.hero-image-btn{    
    font-family: 'Roboto' , sans-serif;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    color: var(--main-title-color);
    margin: 0 auto;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid var(--color-tmp-brdr);
}

  .hero-button{
    background-color: var(--color-logo-button); 
    transition: var(--semofor-button-grunt);   
}

  .hero-button:hover ,
  .hero-button:focus {
    background-color: var(--color-button-link);
  }
  
   /*переваги*/
.hero-advantages-section{
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    padding-bottom: 120px;
     
}

/*----  діаграма ----*/

.hero-advantages-list{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    background-color: var(--color-footer-social-ikons);
    border-radius: 4px;
    padding: 24px 0;
    color: var(--accent-color-logo-grunt);
}

.hero-advantages-icon{
    fill: currentColor;
}

/*напрямок*/
.hero-advantages-direction{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--accent-color-logo-grunt);
}

.hero-advantages-text{
    font-size: 16px;
    line-height: 1.5;
    color: var(--advantages-ourteam-text);
}

/*Що ми робимо-напрямок*/
.wedoing-direction-section{
    padding-bottom: 120px;
}

.wedoing-direction-text{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--accent-color-logo-grunt); 
    text-align: center; 
    margin-bottom: 72px; 
}

/*наша команда*/
.ourteam-section{
    padding-top: 120px;
    padding-bottom: 110px;
    background-color: var(--accent-color-logo);
} 

.ourteam-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    color: var(--accent-color-logo-grunt);
    text-align: center;    
    margin-bottom: 72px;
}

.ourteam-item-grunt{
    background: var(--main-title-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;;
}

.ourteam-block-man{
    padding: 32px 0;
}

.ourteam-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--accent-color-logo-grunt);
    text-align: center;
}

.ourteam-function{
    font-size: 16px;
    line-height: 1.5;
    color: var(--advantages-ourteam-text);
    text-align: center;
}

.ourteam-social-list{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}

.ourteam-social-item{
    width: 40px;
    height: 40px;
}

.ourteam-social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color-logo-button);
    color: var(--main-title-color);
    transition: var(--semofor-button-grunt);
}

.ourteam-social-link:hover,
.ourteam-social-link:focus{
    background-color: var(--color-button-link);
}

.ourteam-social-icon{
    width: 18px;
    height: 18px;
    fill: currentColor;
}

/*---- наші замовники ----*/

.customers-section{
    padding-top: 130px;
    padding-bottom: 120px;
}

.customers-list{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.customers-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--accent-color-logo-grunt);
    margin-bottom: 72px;
}

.customers-item{
   
}

.customers-link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-customers-ikons);
    border: 1px solid var(--color-customers-ikons);
    border-radius: 4px;
    width: 168px;
    height: 88px;
    transition: color var(--semofor-button-grun-customers), border var(--semofor-button-grun-customers);
}

.customers-link:hover,
.customers-link:focus{
    color: var(--color-button-link);
    border: 1px solid var(--color-button-link)
}

.customers-icon{
    width: 104px;
    height: 56px;
    fill: currentColor;
}




/*footer*/
.footer-grunt{    
    background: var(--accent-color-logo-grunt);
    padding-top: 100px;
    padding-bottom: 100px;
}

.backdown-to-footer-prtf{
    padding-top: 96px;
    padding-bottom: 120px;
}

.footer-block-block{
    display: flex;
}

.footer-block{
    width: 264px;
    display: inline-block;
}  

.footer-logo-color{
    color: var(--accent-color-logo);
    font-family: 'Raleway' , sans-serif;    
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-text-color{
    font-size: 16px;
    line-height: 1.5;
    color: var(--footer-text-color);
}

.footer-block-social{
    display: inline-block;
    margin-left: 120px;
    margin-right: 80px;
}

.footer-block-social-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    margin-bottom: 16px;

}

.footer-social-list{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.footer-social-item{
    width: 40px;
    height: 40px; 
}

.footer-social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
    border-radius: 50%;
    background-color: var(--color-footer-social-ikons-grunt-a);
    color: var(--color-footer-social-ikons);
    transition: background-color var(--semofor-button-grunt), color var(--semofor-button-grunt);
}

.footer-social-link:hover,
.footer-social-link:focus{
    background-color: var(--color-footer-social-ikons-grunt);
    color: var(--accent-color-logo-grunt);
}

.footer-social-icon{
   fill: currentColor;
    width: 24px;
    height: 24px;
}

/* ----- subscribe -----*/

.footer-subscribe{}

.footer-subscribe-contact-form{
    width: 453px;
    height: 80px;
}


.footer-subscribe-form-input{
    min-width: 264px;
    height: 40px;
    padding: 0 0 0 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    position: absolute;
    bottom: -58px;
    left: 0;
    background-color: #2E2F42;
    font-size: 12px;
    line-height: 2;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe-form-input:focus-visible{
    outline: none;
}

.footer-subscribe-label{
    display: block;
}

.footer-subscribe-label-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;   
}

.footer-subscribe-form-control{
    position: relative;
}

.footer-subscribe-grop{
    margin-left: 24px;
}

.footer-subscribe-btn{    
    font-family: 'Roboto' , sans-serif;
    padding: 8px 16px 8px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    color: var(--main-title-color);
    margin: 0 auto;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid var(--color-tmp-brdr);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    position: absolute;
    right: 0;
    bottom: -58px;
}


.footer-subscribe-text-btn{
    max-width: 165px;
    margin-right: 16px;
}

.footer-subscribe-btn-icon{
    background-color: var(--color-logo-button);
    fill: #ffffff;
    transition: var(--semofor-button-grunt);
}

.footer-subscribe-button{
    background-color: var(--color-logo-button); 
    transition: var(--semofor-button-grunt);    
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus{
    background-color: var(--color-button-link);
}

.footer-subscribe-button:hover  .footer-subscribe-btn-icon,
.footer-subscribe-button:focus  .footer-subscribe-btn-icon{
    background-color: var(--color-button-link);
}


/*------ portfolio -----*/

        /* ----  button  ---- */
.prtf-filtr{
    margin-bottom: 72px;
    justify-content: center;
}

.prtf-block{
    display: flex;
}

.prtf-block-dist{
    margin-left: 24px;
} 

.prtf-block-dist:first-child{
    margin-left: 0;
}


.prtf-button-grunt{
    font-family: 'Roboto' , sans-serif;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: var(--ourteam-grunt-foto);
    color: var(--color-logo-button);
    border: 1px solid var(--footer-text-color);
    cursor: pointer;
    transition: var(--semofor-button-grunt);
}

.prtf-button-grunt:hover,
.prtf-button-grunt:focus{
    background-color: var(--color-button-link);
    color: var(--ourteam-grunt-foto);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: var(--color-button-link);
}

/* фото наших робіт CARDS */

.cards-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 48px;
}

.card{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    display: block;
}

.card:hover, 
.card:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
} 

.card-list-wrapper{
    position: relative;
    overflow: hidden;
}

.card-overlay { 
    position: absolute;  
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background: var(--color-logo-button);
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 164px;
    overflow: auto;
    transform:translate(0, 100%);
    transition: transform 500ms linear;
}

.card-list-item:hover .card-overlay{
    transform:translate(0, 0);
}

.card-block-text{
    padding: 32px 0 32px 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden; 
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
}

.cards-name{    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em; 
    color: var(--accent-color-logo-grunt);   
}

.cards-direction{
    font-size: 16px;
    letter-spacing: 0.02em;    
    line-height: 1.5;
    color: var(--advantages-ourteam-text);    
}

/*----- modal Window -----*/

.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 750ms cubic-bezier(0.4, 0, 0.2, 1), visibility 750ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.modal-modal{
    width: 408px;
    height: 584px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-close-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    cursor: pointer;
    transition: var(--semofor-button-grunt);
}

.modal-close-btn-icon{    
    background: #E7E9FC;
    /* outline: none; */
    transition: var(--semofor-button-grunt);
}

.modal-close-btn:hover,
.modal-close-btn:focus{
    border-color: var(--color-button-link);
    background-color: var(--color-button-link);
}

.modal-close-btn:hover  .modal-close-btn-icon,
.modal-close-btn:focus  .modal-close-btn-icon{
    background-color: var(--color-button-link);
    fill: var(--footer-text-color);
} 

.modal-backdrop.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

}

.modal-grup{
    margin-top: 70px;
    margin-bottom: 26px;
}

.modal-grup-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    /* margin-block-start: 0;
    margin-block-end: 0;
    width: 360px; */
    height: 24px;
    margin-bottom: 16px;
}

.modal-contact-form{
    width: 360px;
    min-height: 300px;
    margin: 0 auto;
    margin-bottom: 8px;
    /* border: none; */
}

.modal-label{
    display: block;
}

.modal-label-text{
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #8E8F99;    
}

.modal-form-control{
    position: relative;
}

.modal-contact-form-input{
    width: 100%;
    height: 40px;
    margin-bottom: 8px;
    padding-left: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline:none;
    border-radius: 4px;
}

.modal-contact-form-input:focus,
.modal-contact-form-input:hover{
    border-color: var(--color-logo-button);
}

.modal-contact-form-input:focus + .modal-icon{
    fill: var(--color-logo-button);
}

.modal-icon{  
    display: flex;  
    fill: currentColor;
    width: 22px;
    height: 24px;   
    position: absolute;   
    left: 10px;
    top: 42%;
    transform: translateY(-50%);
}

.modal-for-message{
    width: 100%;
    min-height: 120px;
    margin-bottom: 16px;
    padding: 10px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
}

.modal-for-message:focus-visible{
    outline: none;
}

.modal-for-message:focus, 
.modal-for-message:hover{
    border-color: var(--color-logo-button); 
} 

.modal-form-check{
        
}

.modal-form-check-privacy{
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
    text-align: right;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.modal-form-check-privacy-line{
    text-decoration-line: underline;
    color: #4D5AE5;
}

.modal-form-check-privacy::before{
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid var(--accent-color-logo-grunt);
    content: '';
    cursor: pointer;
    border-radius: 4px;
    margin-right: 8px;
}

.modal-form-check:checked + .modal-form-check-privacy::before{
    background-image: url(../images/Property-click.svg);
    transition: var(--semofor-button-grunt);
}

.modal-form-check:hover + .modal-form-check-privacy::before,
.modal-form-check:focus + .modal-form-check-privacy::before{
    outline: 1.25px solid #9747FF;
    transition:  var(--semofor-button-grunt);
}

.modal-image-btn{    
    font-family: 'Roboto' , sans-serif;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    color: var(--main-title-color);
    margin: 0 auto;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid var(--color-tmp-brdr);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-text-btn{
    min-width: 105px;
}

.modal-button{
    background-color: var(--color-logo-button); 
    transition: var(--semofor-button-grunt);    
}

.modal-button:hover ,
.modal-button:focus {
    background-color: var(--color-button-link);
  }


  